[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-bolt = "*"
flask = "*"
flask-sock = "*"
gunicorn = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.10"
